<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shize.bookstore.mapper.BookMapper">
	<select id="selectCount" resultType="java.lang.Integer">
		select count(*)
		from books
		where books.price between #{defaultMinPrice} and #{defaultMaxPrice}
	</select>

	<select id="selectBooksByPageno"
		resultType="com.shize.bookstore.beans.Book">
		select id,title,author,price,sales,stock,img_path imgPath
		from books where price between #{defaultMinPrice} and
		#{defaultMaxPrice} order by books.id desc limit
		#{startIndex},#{pagesize}
	</select>

	<select id="selectBookById"
		resultType="com.shize.bookstore.beans.Book">
		select id,title,author,price,sales,stock,img_path imgPath
		from books where id = #{id}
	</select>

	<insert id="insertBook">
		insert into books
		values(null,#{title},#{author},#{price},#{sales},#{stock},#{imgPath})
	</insert>

	<update id="updateBookById">
		update books set title = #{title} , author =
		#{author} , price = #{price} , sales = #{sales} , stock = #{stock}
		where id = #{id}
	</update>

</mapper>	