<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shize.bookstore.mapper.UserMapper">
	<select id="selectUserForLogin" resultType="com.shize.bookstore.beans.User">
		select id, username,email
		from users
		where username = #{username} and password = #{password}
	</select>
	<select id="selectUserByName" resultType="com.shize.bookstore.beans.User">
		select id
		from users
		where username = #{username}
	</select>
	
	<insert id="insertUser">
		insert into users(username,password,email) values(#{username},#{password},#{email})
	</insert>
</mapper>